<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= context.config.title %>
    </title>
    <style>
        #root{
            display: flex;
            align-items:center ;
            justify-content: center;
            height: 100%;
        }
    </style>
    <script>
        window.MobWeb = {
            initFlag: false,
            baseUrl: 'https://wx.ggzzrj.cn/kwj_dcms/'
        };
    </script>
</head>

<body>
    <div id="root"></div>
</body>

</html>